* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    box-shadow: 4px 4px 32px 1px gray !important;
}

.orange {
    color: darkorange;
}

.navbar-brand {
    color: black !important;
    font-weight: bolder;
}

.nav-link {
    color: black !important;

}

.nav-item {
    padding-left: 25px !important;
    color: white !important;
}

.nav-item:hover {
    transform: scale(1.1);
    transition: 0.9s ease;
    /* border-bottom: 2px solid black; */
}



.nav-link:hover {
    background-color: darkorange !important;
    transition: 0.9s;
    transform: scale(1.1);
    display: block;
    text-align: center;
    color: white !important;

}


.navbar-brand {
    animation: fli 3s linear 1 !important;
}

.mylogo {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    border: 2px solid darkorange !important;
}

@keyframes fli {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.1);
    }

}


.lo {
    color: yellow;
    background-color: darkorange;
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid darkorange;
}

.navbar-nav {
    margin: auto;
}

.enquire {
    background-color: rgba(255, 140, 0, 0.678) !important;
    color: white;
    border-radius: 40px;

}

.enquire a {
    text-decoration: none !important;
    color: white;
}

.enquire:hover {
    color: black;
}

.enquire a:hover {
    color: black;
}

/* navbar */

/* banner */
.main p {
    /* background-color: pink; */
    margin-left: 30px;
    color: darkorange;
    overflow: hidden;
    white-space: nowrap;
    animation: text 4s steps(32) 1 alternate;
    border-right: 2px solid red;
}

@keyframes text {
    0% {
        width: 0ch;
    }

    100% {
        width: 32ch;
    }
}

.carousel-item img {
    width: 100%;
    height: 93vh;
}

.carousel-caption {
    /* background-color: yellow; */
    margin-bottom: 9%;
}

.item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    background-attachment: fixed;
    /* background:rgba(0,0,0,1.3); */
    z-index: -1;
}

.carousel-item img {
    opacity: 0.2;
}

.above {
    color: darkorange;
    font-weight: bolder;
    text-align: left;
    font-size: 48px;
    position: relative;
    animation: bord 5s infinite linear;


}

.above2 {
    color: darkorange;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    position: relative;
    animation: bord 5s infinite linear;


}

.under {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 39px;
}

.under2 {
    color: rgb(224, 190, 127);
    font-weight: bolder !important;
    text-align: center;
    font-size: 15px;
}

.bbtn {
    border: 1px solid white !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 2px 1px white;
    /* font-weight: bolder !important; */
    transition: 0.9s;
}

.hello {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bbtn2 {
    border: 1px solid white !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 2px 1px white;
    /* font-weight: bolder !important; */
    transition: 0.9s;
    background-color: darkorange !important;
}

.bbtn a {
    color: white !important;
    text-decoration: none;
}

.bbtn2 a {
    color: black !important;
    text-decoration: none;
}

.bbtn:hover {
    transform: scale(1.1);
    transition: 0.9s;
    color: white;
}

.bbtn2:hover {
    transform: scale(1.1);
    transition: 0.9s;
    color: black;
}

.call {
    color: darkgreen;
    font-size: 30px;
    border-radius: 50%;
}

.modpara {
    color: white;
}

/* banner */

/* about */
.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
    font-family: "Raleway", sans-serif;

}

.about {
    /* background-color: yellow; */
    margin-top: 10%;
}

.section-title {
    text-align: center;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: darkorange;
    bottom: 0;
    left: calc(50% - 20px);
}

h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: darkorange;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul strong {
    margin-right: 10px;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.aboutimg {
    height: 350px;
}

/* about */

/* skills */
.skills {
    margin-top: 10%;
    margin-bottom: 5%;
}

.skills .progress {
    height: 50px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #45505b;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: #f2f3f5;
}


.skills .progress-bar1 {
    width: 540px;
    height: 20px;
    transition: 0.9s;
    background-color: darkorange;
    /* border: 2px solid red!important; */
    /* border-radius: 40px; */
}

.skills .progress-bar2 {
    width: 540px;
    height: 20px;
    transition: 0.9s;
    background-color: darkorange;
    /* border: 2px solid red!important; */
    /* border-radius: 40px; */
}

.skills .progress-bar3 {
    width: 440px;
    height: 20px;
    transition: 0.9s;
    background-color: darkorange;
    /* border: 2px solid red!important; */
    /* border-radius: 40px; */
}

.skills .progress-bar4 {
    width: 500px;
    height: 20px;
    transition: 0.9s;
    background-color: darkorange;
    /* border: 2px solid red!important; */
    /* border-radius: 40px; */
}

.skills .progress-bar5 {
    width: 530px;
    height: 20px;
    transition: 0.9s;
    background-color: darkorange;
    /* border: 2px solid red!important; */
    /* border-radius: 40px; */
}


.skills .progress-bar6 {
    width: 300px;
    height: 20px;
    transition: 0.9s;
    background-color: darkorange;
    /* border: 2px solid red!important; */
    /* border-radius: 40px; */
}

/* skills */

/* resume */
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid darkorange;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: blue;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 14px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid darkorange;
}

/* resume */

/* contact */
.contact {
    margin-top: 10%;
}

.contact .info {
    width: 100%;
    background: #fff;
}

/* .contact .info i {
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transiton: all 0.3s ease-in-out;
  } */

.loc {
    font-size: 20px;
    color: darkorange;
    float: left;
    width: 48px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.env {
    font-size: 20px;
    color: darkorange;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.cal {
    font-size: 20px;
    color: darkorange;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #0563bb;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #0678e3;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* contact */

/* footer */
#footer {
    background: black;
    color: darkorange;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-top: 15%;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: darkorange;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

.modpara {
    color: white;
}

.modal-content {
    box-shadow: 2px 2px 10px 2px white;
}
/* footer */